--- 
--- 
@import "minima";

details {
    padding: 15px
}

.footer-heading {
    display: none;
}

h2 {
    text-transform: lowercase;
}

#lunrsearch {
    border: solid lightgray;
    border-radius: 5px;
    font-size: xx-large;
    font-family: monospace;
    width: 100%;
}

.post-list-heading {
    display: none;
}

.post-link {
    font-family: monospace;
    font-weight: 300;
}

.post-title {
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;

}

.site-title, .site-nav, .p-name {
    text-transform: uppercase;
}
