--- 
--- 
@import "minima";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Sans|Roboto+Mono&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-col-wrapper {
    font-family: 'IBM Plex Mono', monospace;
}

details {
    padding: 15px;
}

.footer-heading {
    display: none;
}

h2 {
    text-transform: lowercase;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Mono', monospace;
}

#lunrsearch {
    border: solid lightgray;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: monospace;
    width: 100%;
}

.post-list-heading {
    display: none;
}

.post-link {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 1em;
}

.post-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    font-weight: 500;

}

.site-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5em;
    font-weight: 900;
}